<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<!--    <style>-->
<!--        table, th, td{-->
<!--            border:1px solid yellowgreen;-->
<!--            border-collapse: collapse;-->
<!--        }-->
<!--    </style>-->

    <!-- 사용자 스크립트 추가 -->
    <th:block layout:fragment="script">
        <script th:inline="javascript">

            $(document).ready(function(){
                $("#searchBtn").on("click",function(e) {
                    e.preventDefault();
                    page(0);
                });
            });

            function page(page){
                var searchDateType = $("#searchDateType").val();
                var searchSellStatus = $("#searchSellStatus").val();
                var searchBy = $("#searchBy").val();
                var searchQuery = $("#searchQuery").val();

                location.href="/admin/items/" + page + "?searchDateType=" + searchDateType
                    + "&searchSellStatus=" + searchSellStatus
                    + "&searchBy=" + searchBy
                    + "&searchQuery=" + searchQuery;
            }

        </script>
    </th:block>
</head>
<body>
<!--타임리프에서 스프링의 Enum 클래스에 접근하기 위해서는 T() 문법을 이용하여 Enum 클래스의 "fully qualified name" 을 감싸면 됨
    전체값을 가져올 때는 values()를 이용
-->
<div class="container">
    <a href="/apiTest">서비스</a>
    <form id="themaSel" th:action th:object="${themaType}" >
        <div class="form-group col-md-3">
            <label for="thema">여행 테마 선택</label>
            <!-- th:field는 id, name, value 값을 자동으로 만들어준다.-->
            <select class="form-control" id="thema" th:field="*{thema}">
                <option value="">테마 선택</option>
                <option th:each="thema : ${T(co.mr.apiTest.model.Thema).values()}"
                        th:value="${thema.getValue()}"
                        th:text="${thema.getValue()}">테마</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">확인</button>
    </form>

    <div class="container d-flex">
    <span class="mr-auto" th:text="'total 건수 : '+ ${totalCount}"></span>
    <span th:text="'기준 일자 : '+ ${tourInfos[0].getTm()}"></span>
    </div>
    <table class="table">
        <thead>
            <th>테마</th>
            <th>코스명</th>
            <th>코스지역</th>
            <th>관광지점</th>
            <th>관광지명</th>
            <th>풍속</th>
            <th>하늘상태</th>
            <th>습도</th>
            <th>강수확률</th>
        </thead>
        <tbody>

            <th:block th:with="thema=${themaValue}" th:each="tourInfo : ${tourInfos}">
<!--            <tr th:each="tourInfo : ${tourInfos}">-->
<!--                <tr th:if="${tourInfo.getThema() == ${thema}}">-->
                <tr th:if="${tourInfo.getThema() == '종교/역사/전통'}">
                    <td th:text="${tourInfo.getThema()}"></td>
                    <td th:text="${tourInfo.getCourseName()}"></td>
                    <td th:text="${tourInfo.getCourseAreaName()}"></td>
                    <td th:text="${tourInfo.getSpotAreaName()}"></td>
                    <td th:text="${tourInfo.getSpotName()}"></td>
                    <td th:text="${tourInfo.getWs()}"></td>
                    <td th:if="${tourInfo.getSky() == 1}" th:text="맑음"></td>
                    <td th:if="${tourInfo.getSky() == 2}" th:text="구름"></td>
                    <td th:if="${tourInfo.getSky() == 3}" th:text="흐림"></td>
                    <td th:if="${tourInfo.getSky() == 4}" th:text="비"></td>
                    <td th:if="${tourInfo.getSky() == 5}" th:text="소나기"></td>
                    <td th:if="${tourInfo.getSky() == 6}" th:text="비눈"></td>
                    <td th:if="${tourInfo.getSky() == 7}" th:text="눈비"></td>
                    <td th:if="${tourInfo.getSky() == 8}" th:text="눈"></td>
                    <td th:text="${tourInfo.getRhm()}"></td>
                    <td th:text="${tourInfo.getPop()+'%'}"></td>
                </tr>
            </th:block>
        </tbody>
    </table>
<!--    <nav aria-label="Page navigation example">-->
<!--        <ul class="pagination">-->
<!--            <li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
<!--        </ul>-->
<!--    </nav>-->

        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${prevPage <=0}?'disabled' : ''">
                <a class="page-link" th:href="@{/apiTest(pageNo = ${prevPage})}">이전</a>
            </li>

            <li class="page-item" th:each="page: ${#numbers.sequence(blockStart, blockEnd)}" th:classappend="${pageNo eq page}?'active':''">
                <a class="page-link" th:href="@{/apiTest(pageNo = ${page})}" th:text="${page}"></a>
            </li>

            <li class="page-item" th:classappend="${blockEnd >= totalPages}?'disabled':''">
                <a class="page-link" th:href="@{/apiTest(pageNo = ${nextPage})}">다음</a>
            </li>
        </ul>
<script>
    /************* paging *****************/
    // var actionForm = $("#actionForm");

    $(".page-item a").on("click", function(e){
    e.preventDefault();

    /* $(this).attr("href") --> <a>태그의 href값을 의미 */
    actionForm.find("input[name='viewPage']").val($(this).attr("href"));
    actionForm.submit();
    });

</script>

</div>
</body>
</html>